<!DOCTYPE html>
<html>
<head>
  <title>Tribal Gaming</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "fullcalendar.min.js", "jquery-1.7.1.min.js" %>
  <%= csrf_meta_tags %>       


<script type='text/javascript'>

	jQuery(document).ready(function() {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		jQuery('#calendar').fullCalendar({    
			header: {
				left: 'prev,next today',
				center: 'title',

			},
			editable: true,   
			events: "eventsjson"

		});

	});

</script>
</head>
<body>
<div id="container">
	<div id="header">
		<% if user_signed_in? %>
			<span style="float:right; padding-right: 5px;">
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</span>
			<span style="float:right; padding-right: 5px;">
			<%= link_to('Edit registration', edit_user_registration_path) %> |
			</span>
		<% else %>
			<span style="float:right; padding-right: 5px;">
			<%= link_to('Login', new_user_session_path) %>
			</span>
			<span style="float:right; padding-right: 5px;">
			<%= link_to('Register', new_user_registration_path) %> |
			</span>
		<% end %>
	</div>
	<div id="alert">
	<span class="notice"><%= notice %></span><span class="alert"><%= alert %></span>
	</div>
	<div id="content">
	    <div id="menu">
	    <ul>
	        <li><%= link_to "Home", root_path %></li>
	        <li><%= link_to "Posts", posts_path %></li>
	        <li><%= link_to "Games", games_path %></li>
	        <% if current_user.try(:admin?) %>
                    <li><%= link_to "Users", users_path %></li>
                <% end %>
                <li>Menu 5</li>
            </ul>
	    </div>
	    <%= yield %>
	</div>
	<div id="sidebar">
		sidebar content here
	</div>
	<div id="misc">&nbsp;
	</div>
	<div id="footer">
		footer content here
	</div>
</div>
</body>
</html>
