<!DOCTYPE html>
<html>
<head>
  <title>Tribal Gaming</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<div id="header">
		<% if user_signed_in? %>
			<span style="float:right; padding-right: 5px;">
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			</span>
			<span style="float:right; padding-right: 5px;">
			<%= link_to('Edit registration', edit_user_registration_path) %> |
			</span>
		<% else %>
			<span style="float:right; padding-right: 5px;">
			<%= link_to('Login', new_user_session_path) %>
			</span>
			<span style="float:right; padding-right: 5px;">
			<%= link_to('Register', new_user_registration_path) %> |
			</span>
		<% end %>
	</div>
	<div id="alert">
	<span class="notice"><%= notice %></span><span class="alert"><%= alert %></span>
	</div>
	<div id="content" style="width:954px;">
	<div id="menu">
	    <div id="menu">
	    <ul>
	        <li><%= link_to "Home", root_path %></li>
	        <li><%= link_to "Events", events_path %></li>
	        <li><%= link_to "Posts", posts_path %></li>
	        <li><%= link_to "Games", games_path %></li>
	        <% if current_user.try(:admin?) %>
                    <li><%= link_to "Users", users_path %></li>
                <% end %>
            </ul>
	    </div>
	</div>
	<% if current_user.try(:approved?) %>
		<%= yield %>
	<% else %>
		<h2>I'm sorry, you must be an approved user to veiw this page.</h2>
	<% end %>
	</div>
	<div id="misc">&nbsp;
	</div>
	<div id="footer">
		footer content here
	</div>
</div>
</body>
</html>
