<!DOCTYPE html>
<html>
<head>
  <title>Tribal Gaming</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<div id="header">
	</div>
	<div id="alert">&nbsp;
	</div>
	<div id="content" style="width:958px;">
		<div id="menu">
	    <ul><li><%= link_to "Home", root_path %></li><li><%= link_to "My Blog", posts_path %></li><li>Menu 3</li><li>Menu 4</li><li>Menu 5</li></ul>
	  </div>
		<%= yield %>
	</div>
	<div id="misc">&nbsp;
	</div>
	<div id="footer">
		footer content here
	</div>
</div>
</body>
</html>
